{
  "presets": ["env", "react", "es2015", "stage-0"],
  "plugins": [
    "transform-runtime",
    "transform-decorators-legacy",
    "transform-class-properties"
  ],

  "env": {
    "debug": true,
    "test": {
      "plugins": [
        "transform-runtime",
        "transform-decorators-legacy",
        "transform-class-properties",
        "babel-plugin-webpack-alias"
      ]
    }
  }
}
